<!DOCTYPE html>
<html lang="en">
<head>
  ... <!-- head content -->
</head>
<body>
  {{> header}}
  {{> IndexTemplates/hero}}
  {{> IndexTemplates/services}}
  {{> IndexTemplates/testmonials}}
  {{> IndexTemplates/trusted-companies}}
  {{> IndexTemplates/alumni}}
  {{> IndexTemplates/cta}}
  {{> footer}}
  <script src="..."></script>
</body>
</html>